body {
  background-color: #f5f6fa;
  height: 600px;
  width: 100%;
}
.section-body {
  background-color: #555a6b;
}
.section-header {
  font-weight: 700; 
  font-size: 18px;
  color: white;  
  padding: 5px 0px 5px 0px;
}

.file-upload {
  background-color: #ffffff;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #525659;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824B;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

/*.file-upload-btn:hover {
  background: #1AA059;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
  }*/

  .file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
  }

  .file-upload-content {
    display: none;
    text-align: center;
  }

  .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }

  .image-upload-wrap {
    margin-top: 20px;
    border: 3px dashed #525659;
    position: relative;
    height: 300px;
  }

  .image-dropping,
/*.image-upload-wrap:hover {
  background-color: #525659;
  border: 4px dashed #ffffff;
  }*/

  .image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
  }

  .drag-text {
    text-align: center;
  }

  .drag-text h3 {
    font-weight: 700;  
    color: #555a6b;
    padding: 5px 0;
    font-size: 18px;
  }

  .file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
  }

  .remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }

  .remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }

  .remove-image:active {
    border: 0;
    transition: all .2s ease;
  }

  [for="Keywords_input"] {
    color: #6a7ddb;
    font-size: 17px;
    padding: 20px 0px 3px 0px;
  }

  [type="submit"],
  [type="submit"]:hover
  {
    background-color: #6a7ddb;
    color: white;
  }

  .start-proccess-btn{
    background-color: #6a7ddb !important;
    color: white !important;
  }

  .stop-proccess-btn{
    background-color: #555a6b !important;
    color: white !important;
  }

  .start-proccess-btn:active,
  .start-proccess-btn.focus,
  .start-proccess-btn:hover { 
    background-color: #6a7ddb !important;
    color: white !important;
  }

  .stop-proccess-btn:active,
  .stop-proccess-btn.focus,
  .stop-proccess-btn:hover {  
    background-color: #4d546d !important;
    color: white !important;
  }

  #register-require-section {
    display: none;
  }


  /* Register css */
  [for="user_email_input"],
  [for="reference_id"],
  [for="user_pass_input"],
  [for="user_name_input"],
  [for="user_otp_input"],
  [for="user_c_pass_input"]
  {
    color: #6a7ddb;
    font-size: 14px;
    padding: 2px 0px 2px 0px;
  }
  .login-btn:hover{
    text-decoration: none;
  }
  .login-btn{
    color: #6a7ddb;
  }
  #loading_section,#register_error_msg,#login_error_msg,#registerResSection {
    display: none;
  }
  .close-popup{    
    color: white !important;
  }
  .section-footer{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #eee;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
  }